# Ignore database files
*.sqlite3
*.sqlite

# Ignore static files collected by Django
/staticfiles/

# Ignore media files
/media/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db
